<div>
    <h3 class="text-center" style="color: #6d7fcc;">List Of Active Patients</h3>
    <br>
    <div>
        <table class="table table-bordered text-center">
                    <thead>
						<tr>
							<th class="center">S.No</th>
							<th>Patient Name</th>
							<th class="center">Age</th>
							<th>Ailment</th>
							<th>Package Name</th>
							<th>Commencement Date</th>
							<th>Action</th>
						</tr>
					</thead>

            <tbody>
                <tr *ngFor="let patient of patients">
                    <td class="counterCell"></td>
                    <td>{{patient.name}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.ailment}}
                    <td>{{patient.treatmentPackageName}}</td>
                    <td>{{patient.treatmentCommencementDate}}</td>
                    <td>
                        <a class="btn btn-outline-success" (click)="handleClick(patient)"> Mark as complete</a></td> 

                        <!-- <a class="btn btn-outline-success" [routerLink]="['/insurers-names',patient.name]"> Mark as complete</a></td>  -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
